/* Base Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

h1, h2, h3, h4, h5, h6, p, a, label, button{
    font-family: 'Poppins', sans-serif;
  }

body {
    background: linear-gradient(45deg, #4285F4, #DB4437, #F4B400, #0F9D58);
    background-size: 300% 300%;
    animation: gradient 4s ease infinite;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-repeat:space;
    }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }


  .image-container{
    display: flex;
  }

.image-container img {
    height: 30vh;
    object-fit:contain;   /* Remove any gaps below the image */
}
.image-container2 img {
    height: 10vh;
    object-fit:contain;   /* Remove any gaps below the image */
}

.super-div {
  display: flex;
}

.super-div img{
  object-fit: contain;
}

.nav-logo img {
  height:7vh;
  object-fit: contain;
}

.inner ul{
  gap: 2rem;
}

/* From Uiverse.io by adamgiebl */ 
.cssbuttons-io-button {
  background: #a370f0;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}


.inner-cont{
  border-radius: 50px;
}

@media (max-width: 580px) {
  .nav-logo img {
    max-height: 3.88vh;
  }
}